.cover{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 2rem;
    max-width: 30rem;
  }
  .cover__pic{
    display: block;
    width: 15rem;
  }
  .cover__pic img{
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .cover__title{
    flex: 0 1 15rem;
    margin: 0;
    padding-left: 1rem;
    white-space: pre-wrap;
  }